@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Phases.UmbracoUtils
@using RJP.MultiUrlPicker.Models
@using Archetype.Models;
@{
    //
    var currentPage = Model.Content;
	var autoPlaySpeed = 3000;
    var home = CurrentPage.AncestorsOrSelf(1).First();
    if (home.HasValue("selectSliderAutoPlaySpeed"))
    {
        autoPlaySpeed = home.GetPropertyValue<int>("selectSliderAutoPlaySpeed");
    }
    if (currentPage.HasValue("sliderFolder"))
    {
        int sliderCount = 0;
        var sliderContents = Umbraco.TypedMedia(Model.Content.GetPropertyValue<int>("sliderFolder"));
        if (sliderContents != null)
        {
            <section class="main-slider-wrap inner-slider-wrap slider-wrappper-two">
                <div class="inner-slider inner-slider-2 slider-major"  data-speed="2000" data-autospeed="@autoPlaySpeed">

                    @if (sliderContents.ContentType.Alias == "Folder")
                    {

                        foreach (var slider in sliderContents.Children.Where(x => x.IsVisible()))
                        {
                            if (slider.HasValue("videoUrl") || slider.HasValue("image"))
                            {
                                @displaySlider(slider)
                            }
                            sliderCount = sliderCount + 1;
                        }
                    }

                    else if (sliderContents.ContentType.Alias == "imageSliderWithVideo")
                    {
                        @displaySlider(sliderContents)
                    }

                </div>
                <!-- Slider controls  -->

                @if (sliderCount > 1)
                {
                    <div class="slider-controls container">
                        <!-- Pagination -->
                        <div id="pagination-wrap"></div>
                        <!-- nav controls -->
                        <span class="arrow-left"><i class="slider-prev-icon"></i></span>
                        <span class="arrow-right"><i class="slider-next-icon"></i></span>
                    </div>
                }


            </section>
        }


    }


}
@helper displaySlider(IPublishedContent slider)
{
var videoUrl = "";
var imageUrl = "";
var imageAlt = "";
var title = "";

var shortDescription = "";
var rightALignCLass = "";
var titleClass = "";
string linkTo = "", target = "javascript:;", targetName = "";
if (slider.HasValue("videoUrl"))
{
    videoUrl = slider.GetPropertyValue<string>("videoUrl");
}
if (slider.HasValue("image"))
{
    var image = Umbraco.TypedMedia(slider.GetPropertyValue("image"));
    imageUrl = image.Url;
    imageAlt = image.Name;
}
if (slider.HasValue("titleColor"))
{
    titleClass = slider.GetPropertyValue<string>("titleColor");
}
if (slider.HasValue("link"))
{
    var sliderLinkTo = slider.GetPropertyValue<MultiUrls>("link");
    if (slider != null && sliderLinkTo.Any())
    {
        linkTo = sliderLinkTo.FirstOrDefault().Url;
        target = sliderLinkTo.FirstOrDefault().Target;
        targetName = sliderLinkTo.FirstOrDefault().Name;
    }

}

    <div class="slider-item">
        <div class="container">
            <div class="row"> 
                <div class="slider-text col-sm-6 bg-grey-light">

                    @if (slider.HasValue("locationAndDate"))
                    {
                        <span class="date">@slider.GetPropertyValue("locationAndDate")</span>
                    }
                    @if (slider.HasValue("sliderTitle") && !string.IsNullOrEmpty(linkTo))
                    {
                        <a href="@linkTo" target="@target"><h2 class="@titleClass section-title">@slider.GetPropertyValue("sliderTitle")</h2></a>
                    }
                    else
                    {
                        <h2 class="@titleClass section-title">@slider.GetPropertyValue("sliderTitle")</h2>
                    }
                    @if (slider.HasValue("subTitle"))
                    {
                        <h2 class="section-sub-title">@slider.GetPropertyValue("subTitle")</h2>
                    }
                    @if (slider.HasValue("shortDescription"))
                    {
                        <p>@Html.Raw(@Umbraco.ReplaceLineBreaksForHtml((string)slider.GetPropertyValue<string>("shortDescription")))</p>
                    }
                    @if (!string.IsNullOrEmpty(targetName))
                    {
                        <a href="@linkTo" target="@target" class="btn btn-primary">@targetName</a>
                    }


                </div>
                <div class="col-sm-6 slider-image">

                    @if (!string.IsNullOrEmpty(videoUrl))
                    {
                        <div class="videocontent" style="height:300px;">
                            <video style="width:100%;height:100%;" controls="controls" width="100%" height="100%" id="player1" preload="none">
                                <source type="video/youtube" src="@videoUrl" />
                            </video>
                        </div>
                    }
                    else
                    {
                        <img src="@imageUrl?height=300px" alt="@imageAlt">
                    }


                </div>
            </div>
        </div>
    </div>

}
 