@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Phases.UmbracoUtils
@{
     var currentPage = Model.Content;
	var home = currentPage.AncestorOrSelf(1);   
    var listingTitle = Model.MacroParameters["ListingTitle"].ToString();
    if (currentPage.Children.Any())
    {
        var childPages = currentPage.Children.Where(x => x.IsVisible() && x.DocumentTypeAlias == "marketNeeds");
        if (childPages.Any())
        {
            <section class="simple-listing">
                <div class="container">
                    <div class="row">
                        @if (!string.IsNullOrEmpty(listingTitle))
                        {
                            <div class="col-sm-12 header">
                                <h3>@Html.Raw(listingTitle)</h3>
                            </div>
                        }

                        @PrintData(childPages)
                    </div>
                </div>
            </section>

        }

    }
}

@helper PrintData(IEnumerable<IPublishedContent> childPages)
{
    <div class="tile-listing">
        @foreach (var items in childPages)
        {
            var itemUrl = items.GetUrl();
            var cssClass = "col-sm-12";

            if (!items.GetPropertyValue<bool>
                ("hideFromListing"))
            {

                <div class="col-md-4 col-sm-6 col-xs-12 single-column tab-two-col-listing">
                    @if (items.HasValue("iconImage") || items.HasValue("mouseHoverIcon"))
                    {
                        cssClass = "col-sm-9";
                        <div class="col-sm-3 image-holder">
                            <a href="@itemUrl.Url" target="@itemUrl.Target">
                                <div class="image-with-border">
                                    @if (items.HasValue("iconImage"))
                                    {
                                        var iconImage = Umbraco.TypedMedia(items.GetPropertyValue("iconImage"));
                                        <img src="@iconImage.Url" alt="@iconImage.Name">
                                    }
                                    @if (items.HasValue("mouseHoverIcon"))
                                    {
                                        var hoverImage = Umbraco.TypedMedia(items.GetPropertyValue("mouseHoverIcon"));
                                        <img src="@hoverImage.Url" alt="@hoverImage.Name">
                                    }

                                </div>
                            </a>
                        </div>
                    }
                    <div class="@cssClass content-holder">

                        <a href="@itemUrl.Url" target="@itemUrl.Target">
                            @if (items.HasValue("marketTitle"))
                            {
                                <h2 class="article-heading">@items.GetPropertyValue("marketTitle")</h2>
                            }
                            else
                            {
                                <h2 class="article-heading">@items.Name</h2>
                            }

                        </a>

                        @if (items.HasValue("marketDescription"))
                        {
                            <p>@items.GetPropertyValue("marketDescription")</p>
                        }

                    </div>


                </div>

            }
        }
    </div>
}