@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using RJP.MultiUrlPicker.Models
@using Archetype.Models;
@{
    var currentPage = Model.Content;
    if (currentPage.HasValue("bannerTitle") || currentPage.HasValue("bannerShortDescription")||currentPage.HasValue("bannerBackgroundImage"))
    {
        var backgroundImage="";
        var cssClass = "";
        if (currentPage.HasValue("bannerBackgroundImage"))
        {
            var image = Umbraco.TypedMedia(currentPage.GetPropertyValue("bannerBackgroundImage"));
            if (image != null)
            {
                backgroundImage = image.Url;
            }
        }
        if (currentPage.GetPropertyValue<bool>("alignTextRight"))
        {
            cssClass = "col-sm-offset-6";
        }
        <section class="banner content-right bg-grey-light">
            <div class="banner-bg" style="background:url(@backgroundImage);"></div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 @cssClass">
                        @if (currentPage.HasValue("bannerTitle"))
                        {
                            <h3 class="section-title">@currentPage.GetPropertyValue("bannerTitle")</h3>
                        }
                        @if (currentPage.HasValue("bannerShortDescription"))
                        {
                            @Html.Raw(currentPage.GetPropertyValue("bannerShortDescription"))
                        }
                      @if (currentPage.HasValue("bannerLinks"))
                      {
                          var links = currentPage.GetPropertyValue<MultiUrls>("bannerLinks");
                          if (links != null && links.Any())
                          {
                              foreach (var linkUrl in links)
                              {
                                <a href="@linkUrl.Url" target="@linkUrl.Target" class="standard-link">@linkUrl.Name</a>
                              }

                          }
                      }
                       
                    </div>
                </div>
            </div>
        </section>
    }

}
